<!DOCTYPE html>
<html lang= "en">
<head>
        <meta charset= "UTF-8">
        <meta name = "viewport" content="width=device-width,initial-scale=1.0">	
        <title>Registration</title>
        <link rel ="stylesheet" href="css/style.css">
<style>
	.container{
		text-align:center;
		}

	button {   
        
       width: 10%;  
         text-align :center;  
        padding: 15px;   
        margin: 10px 0px;   
        border: none;   
        cursor: pointer;   
         }  
</style>
</head>
<body>
 
       <form action="/index" method= "POST">
  		<div class="container">
    		
   		<h1><b>Chromosomes..</b></h1>
    	<hr>

    		<label for="text"><b>Enter The  Coordinate</b></label>
    		<input type="number" placeholder="Enter Coordinate" name="Start" id="Start" required>
    		
   	 <hr> 


    <center>  <button  type="submit" style=text-align:center;">Submit</button> </center>
    <div class="container signin">
  <!--  <p>For More Details Click Here <a id="foo" href="#">click me</a>.</p> -->
    </div>
 
</form>
</body>
</html>        
